* {
    box-sizing: border-box;
}


/* color, shape and size */
.dark-background {
  background: #3b3c41;
  color: #e3dfcc;
}

.light-background {
  background: #f0dfb9;
  color: #3b3c41;
}

header nav {
  display: flex;
  justify-content: center;
}
header nav li {
  display: inline;
  text-align: center;
  margin-right:5px;
  list-style: none;
}

header nav li a {
  text-decoration: none;
}

header nav li a:link    {color: #e3dfcc;}
header nav li a:visited {color: #A07297;}
header nav li a:hover   {color: #689c79;}
header nav li a:active  {color: #3b3c41;
                        background-color: #A07297;
                      }

hr {
  border: 4px solid #A07297;
  border-radius: 50%;
}

body > header > div > hr{
  width: 75%;
}

img {
  width: 100%;
}

img.center {
  width: 65%;
}

footer {
  height: auto;
}

a:link    {color: #3b3c41;}
a:visited {color: #A07297;}
a:hover   {color: #689c79;}
a:active  {color: #e3dfcc;
  background-color: #3b3c41;}
  
form {
  margin: 5px;
}
  
fieldset {
border: 2px solid #3b3c41;
}

textarea {
  height: 10rem;
}
/* center content */  
.center, article, hr {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  width: 95%; /* --applied because lower */
}

footer p, h1, h2, h3 {
  text-align: center;
}

/* modifying character size, font and color */
h1, h2 {
  color: #f0dfb9;
  margin: 0 1px;
}

h1 {
  font-family:  "Courgette", cursive;
  font-size: 5rem;
  text-shadow: 3px 3px 2px #1f1f22;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  text-shadow: 3px 3px 2px #1f1f22;
  font-variant: small-caps;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 30px;
  font-size: 32px;
  font-variant: small-caps;
}

h4 {
  font-family:  "Courgette", cursive;
  font-size: 20px;
  text-align: center;
}

li, p, label, fieldset{
  font-size: 20px;
  font-family: "roboto condensed", sans-serif;
}

p {
  text-align: justify;
}

label {
  display: block;
}
/* creating more space to div containers and around main container*/
main div {
  margin: 10px 5px 20px 5px;
}

main {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* flexbox and responsive webpage*/
.group {
  display: flex;
}

.item {
  flex: 1;
  padding: 0 15px 0 0;
}

form input,
form textarea {
  width: 100%;
}

/*--- Media Query ---*/
@media all and (max-width: 800px) {
  .group {
    flex-direction: column;
  }
  .item {
    padding: 5px 0;
  }
}

@media all and (min-width: 950px) {

  div div div {
  width: 65%;
}

.profile {
  width: 20%;
}

img.center {
  width: 450px;
}

header div {
  display: flex;
  align-items: baseline;
  margin: auto 1% auto 1%;
  }

.right {
  margin-left: auto;
}
}